<form class="checkout-form" (submit)="submitOrder($event)">
  <div class="card-wrapper">
    <div id="card-element" #cardElement>
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <p class="has-text-danger">{{ cardErrors }}</p>
  </div>

  <button mat-flat-button color="primary">Purchase for ${{cartTotal$ | async}}</button>

  <div *ngIf="successMessage$| async" class="success-message">{{ successMessage$| async }}</div>
</form>

<!-- <div *ngIf="loading" class="notification is-info">Loading....</div>
<pre *ngIf="confirmation" style="max-width: 500px;">
  {{ confirmation | json }}
</pre> -->
