<form class="checkout-form" (submit)="submitOrder($event)">
  <div class="card-wrapper">
    <div id="card-element" #cardElement>
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <p class="error-message">{{ cardErrors$ | async }}</p>
  </div>

  <button mat-flat-button color="primary" [disabled]="!(isCardComplete$ | async)">
    Purchase for ${{cartTotal$ | async}}
  </button>

  <div *ngIf="successMessage$| async" class="success-message">{{ successMessage$| async }}</div>
</form>
