<mat-toolbar color="warn">
  <mat-toolbar-row>
    <h1><a [routerLink]="['/products']">{{ title }}</a></h1>
    <div class="category-item">
      <a class="all-products" [routerLink]="['/categories']">All</a>
      <a *ngFor="let category of categoryObs$ | async" [routerLink]="['/categories', category.id]"
        >{{ category.name}}</a
      >
    </div>
    <span class="flex-auto"></span>
    <a *ngIf="!(userName$ | async)" [routerLink]="['/auth/login']" class="username">Login</a>
    <span *ngIf="userName$ | async" class="username">Hello {{userName$ | async}}!</span>
    <os-mini-cart></os-mini-cart>
  </mat-toolbar-row>
</mat-toolbar>
