<div class="layout-container">
  <div class="card-wrapper" *ngFor="let product of productsObs$ | async">
    <div class="card" [routerLink]="['/products', product.id]">
      <h3>{{ product.title }}</h3>
      <img [src]="product.imgUrl" [alt]="product.title" />
      <p class="product-count">
        {{ product.count > 0 ? "in stock" : "out of stock" }}
      </p>
      <p>${{ product.price }}</p>
    </div>
    <a *ngIf="isAuthorizedUser$ | async" class="delete-link" (click)="removeProduct(product.id)">Delete Product</a>
  </div>
</div>
<button *ngIf="isAuthorizedUser$ | async" mat-flat-button color="primary" [routerLink]="['/products/create']">
  Add a Product
</button>
