@import 'src/stylings/color';
@import 'src/stylings/breakpoint';
@import 'src/stylings/space';

.layout-container {
  display: flex;
}

img {
  width: 180px;
}

button {
  margin: 2rem 1rem;
}

.card {
  width: 15rem;
  height: 20rem;
  border: $ma-border-on-light solid 1px;
  margin: $ma-space-xs;
  text-align: center;
  cursor: pointer;
  outline: none;

  h3 {
    margin: 1rem 0;
  }

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 1px $ma-border-on-light;
  }
}

.product-count {
  font-weight: 700;
  margin: 0.5rem 0;
  text-transform: capitalize;
}
