$ma-color-red: #e60113;
$ma-color-black: #000000;
$ma-color-dark: #1b1b1b;
$ma-color-white: #ffffff;

$ma-background-color-dark: #454545;
$ma-background-color-light-dark: #dbdbdb;

$ma-border-on-light: #c2c2c2;
