<form [formGroup]="createProductForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="title">Product Title </label>
    <input formControlName="title" />
  </div>
  <div class="form-field">
    <label for="price">Price </label>
    <input formControlName="price" />
  </div>
  <div class="form-field">
    <label for="count">Stock </label>
    <input formControlName="count" />
  </div>
  <div class="form-field">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categoryObs$ | async" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-field image-uploader">
    <label>Image </label>
    <input type="file" (change)="onSelectImage($event)" />
    <button
      [disabled]="isImageLoading$ | async"
      type="button"
      (click)="onUploadImage()"
      mat-flat-button
      color="primary"
    >
      Upload Image
    </button>
    <div *ngIf="isImageLoading$ | async">Loading Image...</div>
    <div *ngIf="isImageUploaded$ | async">Uploaded Image successfully.</div>
  </div>
  <div class="form-field">
    <label for="origin">Origin </label>
    <input formControlName="origin" />
  </div>
  <div class="form-field">
    <label for="description">Product Description </label>
    <textarea row="2" formControlName="description"></textarea>
  </div>
  <button type="submit" mat-flat-button color="warn">Add a Product</button>
</form>

<div>{{ createProductStatus$ | async }}</div>
