/* You can add global styles to this file, and also import other style files */
@import 'src/stylings/color';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: $ma-color-dark;
}
